body { font: 10pt sans-serif; }

.num { text-align: right; }

h1 { font-size: 14pt; }
h2 { font-size: 12pt; }
h3 { font-size: 10pt; }

table {
	border-width: 1px;
	border-spacing: 0px;
	border-style: solid;
	border-color: gray;
	border-collapse: collapse;
}

table th {
	border-width: 1px;
	padding: 3px;
	border-style: solid;
	border-color: gray;
}

table td {
	border-width: 1px;
	padding: 3px;
	border-style: solid;
	border-color: gray;
}

.filler {
	border-bottom: 0 none;
	border-top: 0 none;
}

.hide {
    display: none !important;
}
